:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace !important;
}
::-webkit-scrollbar {
  height: 6px; /* Chiều cao của thanh cuộn ngang */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền của thanh cuộn ngang */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Màu của phần thanh cuộn có thể kéo */
  border-radius: 10px; /* Bo tròn các góc của phần thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Màu của phần thanh cuộn khi hover */
}
body {
  display: initial; 
  margin: 0; 
  p {
    margin: 0;
  }
  h6 {
    margin: 0;
  }
  font-family: var(--font-family-sans-serif) !important;
}

.monospace {
  font-family: var(--font-family-monospace) !important;
}
